body {
  font-family: "PT Mono", monospace;
  color: #385170;
  background: #142d4c;
  background-size: cover;
  background-repeat: no-repeat;
}
h1,
h3 {
  color: #142d4c;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-shadow: 5px 5px 10px rgba(1, 101, 98, 0.4);
}
small {
  color: #ececec;
}
small .open-source {
  color: #9fd3c7;
}
small .icon-link {
  color: #9fd3c7;
}

.btn {
  background: #385170;
  color: #ffff;
  transition: all 200ms ease-in-out;
  box-shadow: rgba(0, 30, 29, 0.397) 5px 5px 10px 0;
}
.btn:hover {
  cursor: pointer;
  background: #385170;
  color: #9fd3c7;
  opacity: 0.7;
}
.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}
App {
  margin: 20px;
}
.weather-app {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  background-color: rgba(193, 193, 193, 0.07);
  box-shadow: 0px 2px 20px 6px rgba(32, 53, 53, 0.845);
  border-radius: 10px;
}

.today-weather {
  position: relative;
  width: 350px;
  height: 430px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  background: #9fd3c7c0;
}
.today-weather .main-icon {
  max-width: 100px;
}
.today-weather .description {
  text-transform: capitalize;
  text-shadow: 5px 5px 10px rgba(1, 119, 115, 0.21);
  color: #385170;
}

.weather-temperature .units {
  position: relative;
  font-size: 20px;
  top: -34px;
}
.units a {
  text-decoration: none;
}
.weather-temperature strong {
  display: inline;
  text-align: center;
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
  color: #142d4c;
}
.weather-temperature .active {
  color: #142d4c;
  font-weight: bolder;
}
.weather-temperature .selected {
  color: #385170;
  text-shadow: 5px 5px 10px rgba(1, 119, 115, 0.21);
}
.d-flex {
  text-align: center;
}
.weather-forecast {
  width: 250px;
  height: 60px;
  background: #9fd3c7c0;
  border-radius: 8px;
  padding: 8px 32px;
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.weather-forecast .day {
  font-weight: 600;
  color: #142d4c;
}
.weather-forecast .max-temp {
  color: #142d4c;
  font-weight: bolder;
}

.weather-forecast .min-temp {
  color: #385170;
  text-shadow: 5px 5px 10px rgba(1, 119, 115, 0.21);
}

@media (max-width: 700px) {
  .today-weather {
    border: none;
    max-width: fit-content;
  }
}
